.search-container {
  right: 0;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.suggestion {
  background-color: rgba(0, 0, 0, 0.5);
}

.search-input {
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  background-color: darkgrey;
  color: white;
  cursor: text;
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .suggestions-list {
    max-width: 29vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .suggestion {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
